upstream {{ project_name }} {
    #ip_hash;
    server {{ ansible_eth1.ipv4.address }}:8000 fail_timeout=5;
}

server {
    server_name www.jiaxin.im;
    return 301 $scheme://jiaxin.im$request_uri;


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.jiaxin.im/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.jiaxin.im/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {

    server_name  {{ domain_name }};
    root /data/www/{{ project_name }}/;

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://{{ project_name }};
            break;
        }
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

        listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/jiaxin.im/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/jiaxin.im/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot
}

server {
    listen      80;

    server_name  api.jiaxin.im;
    root /data/www/dugong/;

    location ^~ /api/ {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://dugong;
            break;
        }
    }

        listen 443 ssl; # managed by Certbot
ssl_certificate /etc/letsencrypt/live/api.jiaxin.im/fullchain.pem; # managed by Certbot
ssl_certificate_key /etc/letsencrypt/live/api.jiaxin.im/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot
}


server {
    server_name  static.jiaxin.im;
    root /data/www/static/;
    location /static/ {
        alias /data/www/static/;
        expires max;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/static.jiaxin.im/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/static.jiaxin.im/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot

}

server {
    if ($host = jiaxin.im) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen      80;

    server_name  jiaxin.im;
    return 404; # managed by Certbot


}

server {
    if ($host = www.jiaxin.im) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name www.jiaxin.im;
    listen 80;
    return 404; # managed by Certbot


}


server {
    if ($host = static.jiaxin.im) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen      80;
    server_name  static.jiaxin.im;
    return 404; # managed by Certbot


}