from .base import *
from .base import env


SECRET_KEY = env('SECRET_KEY', default='g3tg^^e!o4fhaw1!ttjxn7j_9g@l@dsk2oe390c!g48oqkkk25')

ALLOWED_HOSTS = [
    "{{ domain_name }}",
    "www.{{ domain_name }}",
    "api.{{ domain_name }}",
]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': "{{ db_server }}",
        'PORT': {{ db_server_port }},
        'OPTIONS': {
            'charset': 'utf8mb4',
            'init_command': "SET storage_engine=INNODB, sql_mode='STRICT_TRANS_TABLES'",
        }
    }
}

# django session
# ------------------------------------------------------------------------------
#
SESSION_COOKIE_DOMAIN = ".{{ domain_name }}"


# STATIC
# ------------------------------------------------------------------------------
# https://docs.djangoproject.com/en/dev/ref/settings/#static-root
STATIC_ROOT = '/data/www/static/'
# https://docs.djangoproject.com/en/dev/ref/settings/#static-url
STATIC_URL = '//static.dapprank.com/static/'

# TEMPLATES
# ------------------------------------------------------------------------------
# https://docs.djangoproject.com/en/dev/ref/settings/#templates
TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [
            str(ROOT_DIR.path('templates'))
        ],
        'APP_DIRS': True,
        'OPTIONS': {
            'debug': DEBUG,
            'context_processors': [
                'django.template.context_processors.request',
                'django.template.context_processors.static',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
            ],
            'string_if_invalid': 'Invalid: "%s"'
        },
    },
]

# REST FRAMEWORK
# ------------------------------------------------------------------------------
# http://www.django-rest-framework.org/api-guide/settings/
REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES': [
        'rest_framework_jwt.authentication.JSONWebTokenAuthentication',
        'rest_framework.authentication.SessionAuthentication',
        'rest_framework.authentication.TokenAuthentication',
    ],
    'DEFAULT_RENDERER_CLASSES': [
      'rest_framework.renderers.JSONRenderer',
    ],
    'DEFAULT_PERMISSION_CLASSES': [
        'rest_framework.permissions.IsAuthenticatedOrReadOnly',
    ],
    'DEFAULT_FILTER_BACKENDS': [
        'django_filters.rest_framework.DjangoFilterBackend',
        'rest_framework.filters.OrderingFilter',
        'rest_framework.filters.SearchFilter',
    ],
    'DEFAULT_PAGINATION_CLASS': 'applications.utils.pagination.StandardResultsSetPagination',
    'PAGE_SIZE': 30,
    'DATETIME_FORMAT': '%Y-%m-%d %H:%M:%S',
}


# django haystack
# -------------------------------------------------------------------------------------------------
#
HAYSTACK_CONNECTIONS = {
    'default': {
{#        'ENGINE': 'haystack.backends.elasticsearch_backend.ElasticsearchSearchEngine',#}
        'ENGINE': 'haystack.backends.elasticsearch2_backend.Elasticsearch2SearchEngine',
        'URL': 'http://10.132.13.8:9200/',
        'INDEX_NAME': 'repos',
        'BATCH_SIZE': 100,
    },
}
HAYSTACK_DEFAULT_OPERATOR = 'AND'


WEBPACK_LOADER = {
    'DEFAULT': {
        'BUNDLE_DIR_NAME': 'static/',
        'STATS_FILE': str(ROOT_DIR.path('webpack-stats.prod.json')),
    }
}
