# coding=utf-8
import multiprocessing

pidfile = "/tmp/gunicorn.pid"
bind = "{{ ansible_eth1.ipv4.address }}:8000"
workers = ({{ gunicorn_cpu_coefficient }} * multiprocessing.cpu_count()) + 1
worker_class = "{{ gunicorn_worker }}"
max_requests_jitter = {{ gunicorn_max_requests }}
keep_alive = 5