{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Sign Up' %} - Python观察员{% endblock %}

{% block content %}

    <div class="box auth">
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form }}
            <div class="field">
                <button type="submit" class="button is-primary is-block is-fullwidth">{% trans 'Sign Up' %}</button>
            </div>
        </form>
    </div>

    <div class="account-help">
        <a href="{% url 'account_signup' %}" title="{% trans 'sign-up' %}">{% trans 'Sign Up' %}</a> &nbsp;·&nbsp;
        <a href="{% url 'account_reset_password' %}" title="{% trans 'forgot-password' %}">{% trans 'forget-password' %}</a>
    </div>

{% endblock %}
