html {
  color: #212121;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

body {
  margin-top: 50px;
}

article {
  img {
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 16px
  }
}
