language: python
python:
  - "3.7.5"
dist: xenial
branches:
  only:
    - master
before_install:
  - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
  - sudo apt-get install nodejs -y -q
  - sudo apt-get update && sudo apt-get install yarn
install:
  - pip install -r requirements/local.txt
  - pip install flake8
before_script:
  - export DJANGO_SETTINGS_MODULE=dugong.settings.stage
  - mv .env.example .env
script:
  - cd frontend/
  - npm i
  - npm run dev
  - cd ..
  - python manage.py test --parallel
after_success:
  - pip install python-coveralls
  - coveralls

