<nav class="panel">
	<p class="panel-heading">github</p>
	<a href="https://github.com/edison7500/dugong" target="_blank" title="Python观察员" class="panel-block">
		<span class="panel-icon"><i class="fab fa-github-alt"></i></span>dugong
	</a>
	<a href="https://github.com/edison7500/django-bulma" target="_blank" title="django-bulma" class="panel-block">
		<span class="panel-icon"><i class="fab fa-github-alt"></i></span>django-bulma
	</a>
	<a href="https://github.com/edison7500/django-leancloud-sms" target="_blank" title="django-leancloud-sms"
		 class="panel-block">
		<span class="panel-icon"><i class="fab fa-github-alt"></i></span>django-leancloud-sms
	</a>
	<a href="https://github.com/edison7500/flask-oss" target="_blank" title="flask-oss" class="panel-block">
		<span class="panel-icon"><i class="fab fa-github-alt"></i></span>flask-oss
	</a>
	<a href="https://github.com/edison7500/django-sendcloud" target="_blank" title="django-sendcloud" class="panel-block">
		<span class="panel-icon"><i class="fab fa-github-alt"></i></span>django-sendcloud
	</a>
</nav>