{% load i18n %}
{% load tagging_tags post_extras %}

<div id="blog-slider">
    <div class="latest-update">
        <p>{% trans 'latest-update' %}</p>
        {% latest_update %}
    </div>

    <div class="trending">
        <p>相关资料</p>
        {% trending_article object.first_tag.name %}
    </div>

    <div class="post-tags">
        <p>{% trans 'tag' %}</p>
        {% tag_cloud_for_model blog.Post as tags with steps=10 min_count=1 distribution=log %}
        {% for tag in tags %}
            <a href="{% url 'web_blog_tags' tag.pk %}" title="{% trans tag.name %}">
                <span class="label label-tag">{% trans tag.name %}</span>
            </a>
        {% endfor %}
    </div>

    <div class="ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog-slider -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
        data-ad-client="ca-pub-6224720106791773"
        data-ad-slot="3673225443"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>

    <div class="github-project">
        <p>Github 项目</p>
        <div class="list-group">
            <a class="project-item" href="https://github.com/edison7500/flask-oss" title="flask-oss">
                <i class="fa fa-github"></i>&nbsp;flask-oss</a>
            <a class="project-item" href="https://github.com/edison7500/andromeda" title="Scrapy 爬虫<">
                <i class="fa fa-github"></i>&nbsp;Scrapy 爬虫</a>
            </a>
        </div>
    </div>
</div>