{% load i18n %}
{% load tagging_tags post_extras %}

<div id="blog-slider">
    <div class="latest-update">
        <p>{% trans 'latest-update' %}</p>
        {% latest_update %}
    </div>

    <div class="post-tags">
        <p>{% trans 'tag' %}</p>
        {% tag_cloud_for_model blog.Post as tags with steps=10 min_count=1 distribution=log %}
        {% for tag in tags %}
            <a href="#" title="{% trans tag.name %}">
                <span class="label label-tag">{% trans tag.name %}</span>
            </a>
        {% endfor %}
    </div>
</div>