{% load staticfiles i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include 'base/meta.html' %}

    <title>{% block title %}家欣的部落格 | 只做技术宅 {% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog_main.css' %}" charset="utf-8" />
    {% endcompress %}
</head>
<body>

{% block nav %}
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'web_blog_list' %}">家欣的部落格</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'web_blog_list' %}">{% trans 'home' %}</a>
                    </li>
                    <li>
                        <a href="/pages/about/">{% trans 'about' %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

    {% block header %}
{#    <header class="intro-header" style="background-image: url('//imgjiaxin.u.qiniudn.com/a7e9d782b98ac04fa91e39fb46ddf410.jpg')">#}
        {% include 'base/header.html' %}
    {% endblock %}

    {% block container %}{% endblock %}

    {% block footer %}
    <footer class="hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/jiaxinxie">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=1751175436">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/edison7500">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Power By Django</p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% compress js %}
        <script src="{% static 'js/jquery-1.12.4.js' %}"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous" charset="utf-8"></script>
        <script src="{% static 'bootstrap-3.3.7/dist/js/bootstrap.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'js/clean-blog.min.js' %}" charset="utf-8"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-22063793-3', 'auto');
            ga('send', 'pageview');
        </script>

        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?a1329b889f1ed2244d2abb4244fa4fbd";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    {% endcompress %}
</body>
</html>