{% load staticfiles i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6224720106791773",
    enable_page_level_ads: true
  });
</script>
    {% include 'base/meta.html' %}

    <title>{% block title %}只做技术宅 | 架构师实战 | 一个受尽折磨的攻城狮{% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'font-mfizz/icon.css' %}" charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jiaxin.css' %}" charset="utf-8" />
    {% endcompress %}
</head>
<body>

{% block nav %}
    {% include 'base/nav.html' %}
{% endblock %}

{#{% block header %}#}
{#        {% include 'base/header.html' %}#}
{#{% endblock %}#}

    {% block container %}{% endblock %}

    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}

    {% compress js %}
        <script src="{% static 'js/jquery-1.12.4.js' %}"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous" charset="utf-8"></script>
        <script src="{% static 'bootstrap-3.3.7/dist/js/bootstrap.min.js' %}" charset="utf-8"></script>
{#        <script src="{% static 'clean-blog/js/clean-blog.min.js' %}" charset="utf-8"></script>#}
        <script src="{% static 'js/dugong.js' %}" charset="utf-8"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-22063793-3', 'auto');
            ga('send', 'pageview');
        </script>

        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?a1329b889f1ed2244d2abb4244fa4fbd";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    {% endcompress %}
</body>
</html>