        <div class="row hidden-xs">
            <div class="col-sm-offset-11">
                <div class="dugong-addition-func">
                    <ul>
                        <li id="btn-gotop">
                            <a href="javascript:;"  title="回到顶部" target="_self">
                                <i class="fa fa-angle-up fa-lg"></i>
                            </a>
                        </li>
                        <li id="btn-rss">
                            <a href="/feed/posts/"  title="欢迎订阅" target="_blank">
                                <i class="fa fa-rss fa-lg"></i>
                            </a>
                        </li>
                        <li id="btn-wechat">
                            <a href="javascript:;" title="微信公众号" target="_self">
                                <i class="fa fa-weixin"></i>
                                <div class="qrcode-wrapper wechat-qrcode-wrapper display-toggle">
                                    <img src="http://imgjiaxin.u.qiniudn.com/qrcode_for_gh_284ddf34955a_344.jpg"
                                        title="微信公众号" alt="微信公众号">
                                    <p>微信公众号</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>