{#        <header class="intro-header" style="background-image: url('//imgjiaxin.u.qiniudn.com/eb9bd3ca8169133a5e74a6bcdb939a4b.jpg?imageView2/2/w/800/h/800/')">#}
    <header class="intro-header" style="background-image: url('//imgjiaxin.u.qiniudn.com/43823ba4gw1f6oog0gydpj21hc0u0tuc.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>只做技术宅</h1>
                            <hr class="small">
                            <span class="subheading">Python, Linux, iOS, Photograph</span>
                        </div>
                    </div>
                </div>
            </div>
    </header>