<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keyword" content="Python,Linux,iOS,Django,flask,scrapy,devops,运维开发,摄影,攻城狮，技术宅">
<meta name="description" content="{{ meta.desc|default:'Python, Linux, iOS, 运维开发, 摄影' }}">
<meta name="author" content="jiaxin">

<meta name="google-site-verification" content="tzGC1O8-GRdindRYN6_ovLQgDjzDjvSMyGx-p6m6-_w" />
<meta property="wb:webmaster" content="14c60fa0dd58b6b2" />
<meta name="msvalidate.01" content="AC5BC2B7EE50E9FED342DC08F3BA6BAC" />

<link rel="alternate" href="http://www.jiaxin.im/" hreflang="zh-Hans" />
