{% load i18n %}

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'web_blog_list' %}">只做技术宅</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% url 'homepage' as index_url %}
                {% url 'web_blog_list' as blog_url %}
                <ul class="nav navbar-nav navbar-left">
                    <li {% ifequal request.path index_url %}class="active"{% endifequal %}>
                        <a href="{{ index_url }}" title="{% trans 'home' %}">
                            <i class="fa fa-home"></i>&nbsp;{% trans 'home' %}</a>
                    </li>
                    <li {% ifequal request.path blog_url %}class="active"{% endifequal %}>
                        <a href="{{ blog_url }}" title="{% trans 'blog' %}">
                            <i class="fa fa-keyboard-o"></i>&nbsp;{% trans 'blog' %}</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/pages/about/" title="{% trans 'about' %}">
                            <i class="fa fa-info"></i>&nbsp;{% trans 'about' %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>