{% extends 'base/bulma_base.html' %}
{% load cache %}
{#{% load bulma_tags %}#}

{% block content %}
	<div class="columns is-mobile is-multiline">
		{#        <div class="column is-8 is-offset-2">#}
		{#        </div>#}
		<div class="column is-8 is-offset-2">
			<div class="content typo">
				<h1>OOPS!</h1>
				<p class="is-centered"><i class="fa fa-frown-o fa-5x" aria-hidden="true"></i></p>
				<p>心实，则物欲不入。</p>
				<p>你访问的页面不存在。可能因为链接地址有误，或该文章已经被删除。</p>
			</div>
		</div>
	</div>
{% endblock %}
