{% extends 'base/bulma_base.html' %}

{% block content %}

    <div class="columns is-mobile is-multiline">
{#        <div class="column is-8 is-offset-2">#}
{#        </div>#}
        <div class="column is-8 is-offset-2">
            <div class="content typo">
                <h1>ERROR!</h1>
                <p class="is-centered"><i class="fa fa-bug fa-5x" aria-hidden="true"></i></p>
                <p>快乐，无关物欲。</p>
                <p>似乎出了点问题。试试重新加载。</p>
            </div>
        </div>
    </div>
{% endblock %}
