{% extends 'base/bulma_base.html' %}

{% block content %}

    <div class="columns is-mobile is-multiline">
{#        <div class="column is-8 is-offset-2">#}
{#        </div>#}
        <div class="column is-8 is-offset-2">
            <div class="content typo">
                <h1>ERROR!</h1>
                <p class="is-centered"><i class="fa fa-bug fa-5x" aria-hidden="true"></i></p>
                <p>快乐，无关物欲。</p>
                <p>似乎出了点问题。试试重新加载。</p>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block container %}#}
{#    <div class="container">#}
{#        <div class="row">#}
{##}
{#            <div class="col-md-8 col-xs-12">#}
{#                <div id="error" class="row">#}
{#                    <div class="col-md-6">#}
{#                        <i class="fa fa-bug pull-right"></i>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <p class="error-title" >ERROR!</p>#}
{#                        <p>快乐，无关物欲。</p>#}
{#                        <p>似乎出了点问题。试试重新加载。</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-4 hidden-xs">#}
{#                {% include 'base/slider/slider.html' %}#}
{#            </div>#}
{#        </div>#}
{#        {% include 'base/goto-top.html' %}#}
{#    </div>#}
{#{% endblock %}#}