{% if books %}
<div class="trending-books">
    <h3>推荐图书</h3>
    <div class="row">
    {% for book in books %}
        <div class="col-md-4">
            <div class="book-thumbnail">
                <a class="book-image-box" href="{{ book.get_purchase_link }}" title="{{ book.titl }}" target="_blank">
                    <img src="{{ book.get_first_image_url }}" alt="{{ book.title }}" title="{{ book.title }}">
                </a>
                <div class="caption">
                    <p class="book-title">{{ book.title|truncatechars:'15' }}</p>
                    <p><a href="{{ book.get_purchase_link }}" class="btn btn-default" role="button" target="_blank">¥ {{ book.price }}</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}