$bg-color: #f8f8f8;
$link-color: #212121;

$body-background-color: $bg-color;

$family-sans-serif: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
$family-primary: $family-sans-serif;

$link: $link-color;
$link-hover: lighten($link-color, 33%);
$link-visited: lighten($link-color, 33%);