{% extends 'base/bulma_base.html' %}
{% load i18n cache %}

{% block title %}{{ meta.title }}{% endblock %}

{% block content %}
  <div class="columns is-desktop ">
    <div class="column is-8 is-offset-2">
      <nav class="breadcrumb has-dot-separator" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% url 'homepage' %}" title="{% trans 'home' %}">
              <i class="fa fa-home"></i>&nbsp;{% trans 'home' %}</a></li>
          <li>
            <a href="{% url 'tutorials:list' %}" title="{% trans 'tutorials' %}">
              <i class="fa fa-book"></i>&nbsp;{% trans 'tutorials' %}</a>
          </li>
          <li class="is-active">
            <a href="#" title="{{ object.title }}" aria-current="page">{{ object.title }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="columns is-desktop is-centered">
    <div class="column is-8 content">
      <div class="box">
        <h1 class="typo-h1 title">{{ object.title }}</h1>

        <div class="meta">
          <time><i class="fa fa-calendar-alt"></i>&nbsp;{{ object.published_at|date:'Y-m-d' }}</time>
        </div>

        <article class="typo">
          {{ object.html_content|safe }}
        </article>

        <hr>
        {% if object.domain %}
          <div style="margin-top: 10px; margin-bottom: 10px; color: darkgray;">
            <i class="fa fa-link"></i>&nbsp;教程来源:
            <a rel="nofollow" rel="noopener" target="_blank" href="{{ object.domain_link }}">
              {{ object.domain }}
            </a>
          </div>
        {% endif %}

        <div class="addthis_inline_share_toolbox_2eqs" style="margin-top: 10px;"></div>
      </div>
    </div>
  </div>

{% endblock %}

