<div class="media">
    <div class="media-left">
        {% if month %}
            <i class="fa fa-star" style="font-size: 24px;"></i>{{ project.latest__day_star }}
        {% else %}
            <i class="fa fa-star" style="font-size: 24px;"></i>{{ project.latest_7_day_star }}
        {% endif %}
    </div>
    <div class="media-body" style="margin-left: 20px">
        <a href="{{ project.url }}" title="{{ project.author }} / {{ project.name }}" target="_blank">
            <h4 class="media-heading">
            {{ project.name }}
            </h4>
        </a>
        <p class="post-meta">{{ project.desc|striptags }}</p>
    </div>
</div>
<hr >
