<article class="media">
    {% if month %}
        <aside class="media-left"><i class="fa fa-star"></i>&nbsp;{{ project.latest_30_day_star }}</aside>
    {% else %}
        <aside class="media-left"><i class="fa fa-star"></i>{{ project.latest_7_day_star }}</aside>
    {% endif %}
    <div class="media-content">
        <p class="title is-5">
            <a href="{{ project.url }}" title="{{ project.author }} / {{ project.name }}">
                {{ project.name }}
            </a>
        </p>
        <div>{{ project.desc|striptags|truncatechars_html:"50" }}</div>
    </div>
</article>
