{% load i18n %}
{% load tagging_tags post_extras %}

<div id="blog-slider">
    <div class="ads embed-responsive embed-responsive-4by3">
{#        <iframe src="//rcm-cn.amazon-adsystem.com/e/cm?t=jiaxin05-23&o=28&p=12&l=ez&f=ifr&f=ifr"#}
{#                width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;max-width:800px;max-height:600px;"></iframe>#}
        <iframe src="//rcm-cn.amazon-adsystem.com/e/cm?t=jiaxin05-23&o=28&p=12&l=ur1&category=books&banner=1N4AHFJRK48P743G2QR2&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;max-width:800px;max-height:600px;" frameborder="0"></iframe>

    </div>

    <div class="post-tags">
        <p>{% trans 'tag' %}</p>
        {% tag_cloud_for_model blog.Post as tags with steps=10 min_count=3 distribution=log %}
        <ul class="list-inline" style="padding-left: 16px; padding-right: 16px;">
        {% for tag in tags %}
            <li>
                <a href="{% url 'web_blog_tags' tag.pk %}" title="{% trans tag.name %}">
                    {% trans tag.name %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="github-project">
        <p>Github 项目</p>
        <div class="list-group">
            <a class="project-item" href="https://github.com/edison7500/flask-oss" title="flask-oss" target="_blank">
                <i class="fa fa-github"></i>&nbsp;flask-oss</a>
            <a class="project-item" href="https://github.com/edison7500/andromeda" title="Scrapy 爬虫<" target="_blank">
                <i class="fa fa-github"></i>&nbsp;Scrapy 爬虫</a>
            <a class="project-item" href="https://github.com/guoku/django-sendcloud" title="django-sendcloud" target="_blank">
                <i class="fa fa-github"></i>&nbsp;django sendcloud</a>
            <a class="project-item" href="https://github.com/edison7500/dugong" title="本站代码" target="_blank">
                <i class="fa fa-github"></i>&nbsp;本站代码</a>
        </div>
    </div>
</div>