@import "../bootstrap-3.3.7/less/bootstrap.less";
@import "../font-awesome-4.7.0/less/font-awesome.less";
@import "../less/clean-blog.less";

@import "var.less";

body {
  background-color: @body-background-color;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.label-tag{
  .label-variant(@label-color);
  color: @blog-tag-color;
  font-size: 14px;
  font-weight: normal;
  border: solid 1px @blog-line-color;
  margin-left: 10px;
}

.post-breadcrumb
{
  .breadcrumb;
  background-color: @body-background-color;
  font-size: 14px;
  margin: 0;
}

#blog-container{
  background-color: @blog-background-color;
  border: 1px solid #ebebeb;
  .post-title{
    font-size: @blog-title-font;
    color: @blog-title-color;
    &:hover,
    &:focus {
      color: #00b3ee;
      text-decoration: underline;
    }
  };
  .post-subtitle{
    font-size: 16px;
    line-height: 1.7;
    color: #3c3c3c;
  }
  .post-meta{
    font-size: 12px;
    color: #888;
    li{
      font-size: 12px;
      +li:before{
        font-size: 14px;
        font-weight: bold;
        color: #888;
        margin-right: 10px;
        content: "\00B7";
      }
    }
    a{
      text-align: center;
      text-decoration: none;
      border: solid 1px @blog-line-color;
      padding: 5px;
      &:hover {
        color: #00b3ee;
        border: solid 1px #00b3ee;
      }

    }
  }
}

#blog-slider{

  p{
    font-size: 16px;
    font-weight: bold;
    //padding-bottom: 5px;
    padding: 5px 0 5px 0;
    margin: 5px 16px 10px 16px;
    border-bottom: solid 1px @blog-line-color;
    //margin-bottom: 10px;
  }
  .latest-update {
    margin-top: 20px;
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
    .latest-list {
      //.list-group;
      .latest-item {
        .list-group-item;
        border: 0;
        color: @blog-content-color;
        font-size: 16px;
        &:hover{
          //text-decoration: underline;
          color: #00b3ee;
        }
      }
    }
  }
  .trending{
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
    margin-top: 20px;
    .trending-list{
      .trending-item {
        .list-group-item;
        border: 0;
        color: @blog-content-color;
        font-size: 16px;
        &:hover{
          //text-decoration: underline;
          color: #00b3ee;
        }
      }
    }
  }
  .post-tags {
    margin-top: 20px;
    background-color: @blog-background-color;
    padding-bottom: 20px;
    border: solid 1px @blog-line-color;
  }

  .ads {
    //margin-top: ;
    //border: solid 1px @blog-line-color;
    background-color: @body-background-color;
    padding: auto;
  }

  .github-project{
    margin-top: 20px;
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
    //.project-list {
      //.list-group;
      .project-item {
        .list-group-item;
        border: 0;
        color: @blog-content-color;
        font-size: 16px;
        &:hover{
          text-decoration: underline;
        }
      //}
    }
  }
}

#blog-detail-container{
  background-color: @blog-background-color;
  border: 1px solid #ebebeb;
  padding-top: 16px;
  padding-bottom: 16px;

  img {
    .img-responsive;
    width: 100%;
    margin: auto;
  }

  p{
    font-size: 16px;
    line-height: 1.7;
    color: @blog-content-color;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  li {
    font-size: 16px;
    line-height: 1.7;
    color: @blog-content-color;
  }
  pre, code{
    margin: 10px;
    padding: 16px;
    background-color: #000;
    color: #fff;
    a{
      color: #00b3ee;
    }
  }

  .post-tags {
    color: @blog-tag-color;
    font-size: 14px;
    margin-top: 20px;
  }
}





