@import "../bootstrap-3.3.7/less/bootstrap.less";
@import "var.less";


#blog-container{
  background-color: @blog-background-color;
  border: 1px solid #ebebeb;
  .post-title{
    font-size: @blog-title-font;
    color: @blog-title-color;
    &:hover,
    &:focus {
      color: #00b3ee;
      text-decoration: underline;
    }
  };
  .post-subtitle{
    font-size: @blog-subtitle-fontsize;
    line-height: @blog-line-height;
    color: @blog-subtitle-color;
  }

}

#blog-slider{

  p{
    font-size: 16px;
    font-weight: bold;
    //padding-bottom: 5px;
    padding: 5px 0 5px 0;
    margin: 5px 16px 10px 16px;
    border-bottom: solid 1px @blog-line-color;
    //margin-bottom: 10px;
  }
  .latest-update {
    margin-bottom: 20px;
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
    .latest-list {
      //.list-group;
      .latest-item {
        .list-group-item;
        border: 0;
        color: @blog-content-color;
        font-size: 16px;
        &:hover{
          //text-decoration: underline;
          color: #00b3ee;
        }
      }
    }
  }
  .trending{
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
    margin-bottom: 20px;
    .trending-list{
      .trending-item {
        .list-group-item;
        border: 0;
        color: @blog-content-color;
        font-size: 16px;
        &:hover{
          //text-decoration: underline;
          color: #00b3ee;
        }
      }
    }
  }


  .ads {
    background-color: @body-background-color;
    padding: auto;
    margin-bottom: 20px;
  }

  .github-project{
    margin-bottom: 20px;
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
      .project-item {
        .list-group-item;
        border: 0;
        color: @blog-content-color;
        font-size: 16px;
        &:hover{
          text-decoration: underline;
        }
    }
  }
}

#blog-detail-container{
  background-color: @blog-background-color;
  border: 1px solid #ebebeb;
  padding: 16px;
  //padding-top: 16px;
  //padding-bottom: 16px;
  img {
    .img-responsive;
    width: 100%;
    margin: auto;
  }

  p{
    font-size: 16px;
    line-height: 1.3;
    color: @blog-content-color;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  li {
    font-size: 16px;
    line-height: 1.7;
    color: @blog-content-color;
  }
  pre, code{
    margin: 10px;
    padding: 16px;
    background-color: #000;
    color: #fff;
    a{
      color: #00b3ee;
    }
  }
  blockquote{
    font-size: 12px;
    font-style: italic;
    color: #9d9d9d;
  }
  .meta-info {
    margin-top: 20px;
  }
  .post-nav {
    //padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    i {
      font-weight: bold;
    }

  }

}

.trending-books {
  border-top: solid 2px #333;
  margin-top: 40px;
  .book-thumbnail {
    .thumbnail;
    -moz-box-shadow: 5px 5px 3px #bbb; /* 老的 Firefox */
    box-shadow: 5px 5px 3px #bbb;
    h3 {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      font-style: normal;
    }
    .book-image-box {
      img {
        display: block;
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}











