@import "../bootstrap-3.3.7/less/bootstrap.less";
@import "../font-awesome-4.7.0/less/font-awesome.less";
@import "../less/clean-blog.less";

@import "var.less";

body {
  background-color: @body-background-color;
}

#blog-container{
  background-color: @blog-background-color;
  border: 1px solid #ebebeb;
  .post-title{
    font-size: @blog-title-font;
    color: @blog-title-color;
    &:hover,
    &:focus {
      color: #00b3ee;
      text-decoration: underline;
    }
  };
  .post-subtitle{
    font-size: 16px;
    line-height: 1.7;
    color: #3c3c3c;
  }
  .post-meta{
    font-size: 12px;
    color: #888;
  }
}

#blog-slider{

  p{
    font-size: 16px;
    font-weight: bold;
    //padding-bottom: 5px;
    padding: 5px 0 5px 0;
    margin: 5px 16px 10px 16px;
    border-bottom: solid 1px @blog-line-color;
    //margin-bottom: 10px;
  }
  .latest-update {
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
  }
  .post-tags {
    margin-top: 20px;
    background-color: @blog-background-color;
    //padding: 10px 5px 10px 5px;
    border: solid 1px @blog-line-color;
  }
}

#blog-detail-container{
  background-color: @blog-background-color;
  border: 1px solid #ebebeb;
  padding-top: 16px;
  padding-bottom: 16px;

  p{
    font-size: 14px;
    line-height: 1.7;
    color: #0f0f0f;
    padding: 5px;
    margin: 0;
  }
  pre, code{
    margin: 10px;
    padding: 16px;
    background-color: #000;
    color: #fff;
    a{
      color: #00b3ee;
    }
  }
}


