@import "var.less";


@media (min-width:800px) {
   .category-sidebar  {
     width: 290px;
     position: fixed;
   }
}

.category-sidebar {
  overflow-y: scroll;
  //padding: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: @blog-background-color;
  border: solid 1px @blog-line-color;
  >ul {
    //padding-left: 16px;
    //padding-right: 16px;

    >li {
      padding: 5px 16px 5px 16px;
      margin-bottom: 10px;
      &:hover {
        //border-bottom: solid 3px #333;
        background-color: #bbbbbb;
      }
      >a {
        text-decoration: none;
        font-size: 16px;
        text-align: center;
      }
    }

  }
  >ul >li.active {
    border-bottom: solid 3px #333;
    >a {
      color: #333;
    }
    //background-color: #bbbbbb;
  }
}

#homepage-latest{
  background-color: #fff;
  padding: 16px;
  border: solid 1px @blog-line-color;
  .tip {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: solid 1px @blog-line-color;
  }
  .post-title {
    font-size: 16px;
    color: #333;
  }
}