@media (min-width: 800px) {
  .category-sidebar {
    width: 290px;
    position: fixed;
  }
}
.category-sidebar {
  overflow-y: scroll;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  border: solid 1px #ebebeb;
}
.category-sidebar > ul > li {
  padding: 5px 16px 5px 16px;
  margin-bottom: 10px;
}
.category-sidebar > ul > li:hover {
  background-color: #bbbbbb;
}
.category-sidebar > ul > li > a {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}
.category-sidebar > ul > li.active {
  border-bottom: solid 3px #333;
}
.category-sidebar > ul > li.active > a {
  color: #333;
}
#homepage-latest {
  background-color: #fff;
  padding: 16px;
  border: solid 1px #ebebeb;
}
#homepage-latest .tip {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: solid 1px #ebebeb;
}
#homepage-latest .post-title {
  font-size: 16px;
  color: #333;
}
.post-preview {
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 10px;
}
.post-preview:last-child {
  margin-bottom: 0px;
  border-bottom: solid 0px;
}
#project {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  margin-bottom: 30px;
}
#project h2 {
  background-color: #f6f8fa;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  line-height: 1.3;
  border-bottom: 1px solid #ebebeb;
}
#readme {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-size: 16px;
}
#readme h3 {
  background-color: #f6f8fa;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.3;
  border-bottom: 1px solid #ebebeb;
}
#readme article {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#readme ul {
  padding-left: 20px;
}
#readme a,
#readme a.active {
  color: #2aabd2;
}
#readme a:hover,
#readme a.active:hover,
#readme a:focus,
#readme a.active:focus {
  color: #1f7e9b;
}
.project-content {
  padding-left: 16px;
  padding-right: 16px;
}
.project-content h3.project-title {
  margin-bottom: 20px;
}
