@import "var.less";

.category-slider {
  //margin: ;
  //padding: 16px;
  >ul {
    padding: 16px;
    //padding-top: 16px;
    //padding-bottom: 16px;
    background-color: @blog-background-color;
    border: solid 1px @blog-line-color;
    >li {
      padding: 5px 0 5px 0;
      margin-bottom: 10px;
      &:hover {
        //background-color: #bbbbbb;
      }
      >a {
        font-size: 16px;
        text-align: center;
      }
    }
  }
  >ul >li.active {
    border-bottom: solid 3px #333;
    >a {
      color: #333;
    }
    //background-color: #bbbbbb;
  }
  //a {
  //  text-align: center;
  //}
  //box-shadow: ;
}

#homepage-post{
  background-color: #fff;
  padding: 16px;
  border: solid 1px @blog-line-color;
}