@media (min-width: 800px) {
  .category-sidebar {
    width: 290px;
    position: fixed;
  }
}
.category-sidebar {
  overflow-y: scroll;
  padding: 16px;
  background-color: #fff;
  border: solid 1px #ebebeb;
}
.category-sidebar > ul > li {
  padding: 5px 0 5px 0;
  margin-bottom: 10px;
}
.category-sidebar > ul > li > a {
  font-size: 16px;
  text-align: center;
}
.category-sidebar > ul > li.active {
  border-bottom: solid 3px #333;
}
.category-sidebar > ul > li.active > a {
  color: #333;
}
#homepage-latest {
  background-color: #fff;
  padding: 16px;
  border: solid 1px #ebebeb;
}
#homepage-latest .tip {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: solid 1px #ebebeb;
}
#homepage-latest .post-title {
  font-size: 16px;
  color: #333;
}
