{% extends 'images/base.html' %}
{% load i18n %}


{% block content %}
	<div class="columns is-multiline is-centered">
		<div class="column is-8">
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
				{% for field in form %}
					<div class="field">
						<div class="file" for="{{ field.id_for_label }}">
							<label class="file-label">
								{{ field }}
								<span class="file-cta">
									<span class="file-icon">
          					<i class="fas fa-upload"></i>
        					</span>
									<span class="file-label">
										{% trans 'choose-a-image' %}...
									</span>
								</span>
							</label>
						</div>
					</div>
				{% endfor %}

				<button class="button" type="submit">{% trans 'submit' %}</button>
			</form>
		</div>

		{% if im_b64 %}
			<div class="column is-8">
				<img src="data:image/png;base64, {{ im_b64 }}">
			</div>
		{% endif %}
	</div>
{% endblock %}
