.codehilite > pre .hll {
  background-color: #49483e
}

.codehilite > pre {
  background: #272822;
  color: #f8f8f2
}

.codehilite > pre .c {
  color: #75715e
}

/* Comment */
.codehilite > pre .err {
  color: #960050;
  background-color: #1e0010
}

/* Error */
.codehilite > pre .k {
  color: #66d9ef
}

/* Keyword */
.codehilite > pre .l {
  color: #ae81ff
}

/* Literal */
.codehilite > pre .n {
  color: #f8f8f2
}

/* Name */
.codehilite > pre .o {
  color: #f92672
}

/* Operator */
.codehilite > pre .p {
  color: #f8f8f2
}

/* Punctuation */
.codehilite > pre .ch {
  color: #75715e
}

/* Comment.Hashbang */
.codehilite > pre .cm {
  color: #75715e
}

/* Comment.Multiline */
.codehilite > pre .cp {
  color: #75715e
}

/* Comment.Preproc */
.codehilite > pre .cpf {
  color: #75715e
}

/* Comment.PreprocFile */
.codehilite > pre .c1 {
  color: #75715e
}

/* Comment.Single */
.codehilite > pre .cs {
  color: #75715e
}

/* Comment.Special */
.codehilite > pre .gd {
  color: #f92672
}

/* Generic.Deleted */
.codehilite > pre .ge {
  font-style: italic
}

/* Generic.Emph */
.codehilite > pre .gi {
  color: #a6e22e
}

/* Generic.Inserted */
.codehilite > pre .gs {
  font-weight: bold
}

/* Generic.Strong */
.codehilite > pre .gu {
  color: #75715e
}

/* Generic.Subheading */
.codehilite > pre .kc {
  color: #66d9ef
}

/* Keyword.Constant */
.codehilite > pre .kd {
  color: #66d9ef
}

/* Keyword.Declaration */
.codehilite > pre .kn {
  color: #f92672
}

/* Keyword.Namespace */
.codehilite > pre .kp {
  color: #66d9ef
}

/* Keyword.Pseudo */
.codehilite > pre .kr {
  color: #66d9ef
}

/* Keyword.Reserved */
.codehilite > pre .kt {
  color: #66d9ef
}

/* Keyword.Type */
.codehilite > pre .ld {
  color: #e6db74
}

/* Literal.Date */
.codehilite > pre .m {
  color: #ae81ff
}

/* Literal.Number */
.codehilite > pre .s {
  color: #e6db74
}

/* Literal.String */
.codehilite > pre .na {
  color: #a6e22e
}

/* Name.Attribute */
.codehilite > pre .nb {
  color: #f8f8f2
}

/* Name.Builtin */
.codehilite > pre .nc {
  color: #a6e22e
}

/* Name.Class */
.codehilite > pre .no {
  color: #66d9ef
}

/* Name.Constant */
.codehilite > pre .nd {
  color: #a6e22e
}

/* Name.Decorator */
.codehilite > pre .ni {
  color: #f8f8f2
}

/* Name.Entity */
.codehilite > pre .ne {
  color: #a6e22e
}

/* Name.Exception */
.codehilite > pre .nf {
  color: #a6e22e
}

/* Name.Function */
.codehilite > pre .nl {
  color: #f8f8f2
}

/* Name.Label */
.codehilite > pre .nn {
  color: #f8f8f2
}

/* Name.Namespace */
.codehilite > pre .nx {
  color: #a6e22e
}

/* Name.Other */
.codehilite > pre .py {
  color: #f8f8f2
}

/* Name.Property */
.codehilite > pre .nt {
  color: #f92672
}

/* Name.Tag */
.codehilite > pre .nv {
  color: #f8f8f2
}

/* Name.Variable */
.codehilite > pre .ow {
  color: #f92672
}

/* Operator.Word */
.codehilite > pre .w {
  color: #f8f8f2
}

/* Text.Whitespace */
.codehilite > pre .mb {
  color: #ae81ff
}

/* Literal.Number.Bin */
.codehilite > pre .mf {
  color: #ae81ff
}

/* Literal.Number.Float */
.codehilite > pre .mh {
  color: #ae81ff
}

/* Literal.Number.Hex */
.codehilite > pre .mi {
  color: #ae81ff
}

/* Literal.Number.Integer */
.codehilite > pre .mo {
  color: #ae81ff
}

/* Literal.Number.Oct */
.codehilite > pre .sa {
  color: #e6db74
}

/* Literal.String.Affix */
.codehilite > pre .sb {
  color: #e6db74
}

/* Literal.String.Backtick */
.codehilite > pre .sc {
  color: #e6db74
}

/* Literal.String.Char */
.codehilite > pre .dl {
  color: #e6db74
}

/* Literal.String.Delimiter */
.codehilite > pre .sd {
  color: #e6db74
}

/* Literal.String.Doc */
.codehilite > pre .s2 {
  color: #e6db74
}

/* Literal.String.Double */
.codehilite > pre .se {
  color: #ae81ff
}

/* Literal.String.Escape */
.codehilite > pre .sh {
  color: #e6db74
}

/* Literal.String.Heredoc */
.codehilite > pre .si {
  color: #e6db74
}

/* Literal.String.Interpol */
.codehilite > pre .sx {
  color: #e6db74
}

/* Literal.String.Other */
.codehilite > pre .sr {
  color: #e6db74
}

/* Literal.String.Regex */
.codehilite > pre .s1 {
  color: #e6db74
}

/* Literal.String.Single */
.codehilite > pre .ss {
  color: #e6db74
}

/* Literal.String.Symbol */
.codehilite > pre .bp {
  color: #f8f8f2
}

/* Name.Builtin.Pseudo */
.codehilite > pre .fm {
  color: #a6e22e
}

/* Name.Function.Magic */
.codehilite > pre .vc {
  color: #f8f8f2
}

/* Name.Variable.Class */
.codehilite > pre .vg {
  color: #f8f8f2
}

/* Name.Variable.Global */
.codehilite > pre .vi {
  color: #f8f8f2
}

/* Name.Variable.Instance */
.codehilite > pre .vm {
  color: #f8f8f2
}

/* Name.Variable.Magic */
.codehilite > pre .il {
  color: #ae81ff
}

/* Literal.Number.Integer.Long */
