{% extends 'base/base.html' %}
{% load i18n %}
{% load django_markdown %}

{% block title %}{{ project }} | Python 观察员{% endblock %}

{% block container %}

    <div class="container">
        <h1 class="sr-only">{{ project }}</h1>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <ol class="breadcrumb">
                    <li><a href="{% url 'homepage' %}" title="{% trans 'home' %}"><i class="fa fa-home"></i>&nbsp;{% trans 'home' %}</a></li>
                    <li class="active">{{ project.name }}</li>
                </ol>

                <div id="project">
                    <h2><i class="fa fa-github" aria-hidden="true"></i>&nbsp;{{ project.author }} / {{ project.name }}</h2>
                    <div class="project-content">
                        <a target="_blank" href="{{ project.github_url }}" title="{{ project }}">
                            <h3 class="project-title" >{{ project.author }} / {{ project.name }}</h3>
                        </a>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-star"></i></button>
                            <button type="button" class="btn btn-sm btn-default">{{ project.latest_star }}</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-sm btn-default">{{ project.latest_watch }}</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-code-fork"></i></button>
                            <button type="button" class="btn btn-sm btn-default">{{ project.latest_fork }}</button>
                        </div>

                        <p class="project-desc">{{ project.desc }}</p>
                    </div>
                </div>

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 单页顶部广告 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6224720106791773"
                data-ad-slot="6557798640"
                data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
                <div id="readme">
                    <h3><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;README</h3>
                    <article>
                        {% autoescape off %}
                        {{ project.readme|safe }}
                        {% endautoescape %}
                    </article>
                </div>
            </div>
        </div>
        {% include 'base/goto-top.html' %}
    </div>

{% endblock %}