<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				<strong>Power by Django</strong>
				{#          <strong>blo</strong> by <a href="https://jiaxin.im">jiaxin</a>#}
				<a href="http://jiaxin.im" title="Python 观察员">Python 观察员</a>. The source code is licensed
				<a href="http://www.gnu.org/licenses/">GNU</a>. Build nicely.
			</p>
			<p>
				<a class="icon" href="https://github.com/edison7500/dugong">
					<i class="fab fa-github-alt fa-2x"></i>
				</a>
			</p>
		</div>
	</div>
</footer>