<footer class="footer" style="background-color: #333;">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>jiaxin</strong> by <a href="https://jiaxin.im">jiaxin</a>
{#            href="http://timonweb.com">Tim Kamanin</a>. The source code is licensed#}
{#          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Build nicely.#}
        </p>
        <p>
          <a class="icon" href="https://github.com/edison7500/dugong">
            <i class="fa fa-github-alt fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
</footer>