{% load i18n %}

<nav class="navbar is-fixed-top is-dark" data-bulma="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" title="Python观察员" href="/">Python观察员</a>
        </div>
        <div class="navbar-start">
            <a class="navbar-item" title="教程" href="{% url 'tutorials:list' %}">
                <i class="fa fa-book"></i>&nbsp;教程</a>
            <a class="navbar-item" title="{% trans 'blog' %}" href="{% url 'blog:list' %}">
                <i class="fas fa-pencil-alt"></i>&nbsp;{% trans 'blog' %}</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" target="_blank" href="https://github.com/edison7500/dugong" title="site code">
                <i class="fab fa-github-alt"></i></a>

{#            <a class="navbar-item" target="_blank" href="https://twitter.com/papaya1984" title="jiaxin's twitter">#}
{#                <i class="fa fa-twitter"></i></a>#}

            <a class="navbar-item" href="/pages/about/" title="{% trans 'about' %}">
                <i class="fa fa-info"></i>&nbsp;{% trans 'about' %}</a>
        </div>
    </div>
</nav>
