{% extends "base/bulma_base.html" %}
{% load i18n %}
{% load dugong_tags %}

{% block content %}
	<div class="columns is-multiline">
		{% for row in object_list %}
			<div class="column is-one-quarter">
				<a class="card" href="https://image.jiaxin.im/upload/1280/img/e111966daa9975400b2967fe9f205621.jpg">
					<figure class="image is-4by3">
						<img class="lazy"
								 src="https://image.jiaxin.im/placeholder/?text=jiaxin.im"
								 data-original="{{ row.gallery_image }}"
								 alt="Placeholder image"
						>
					</figure>
				</a>
			</div>
		{% endfor %}
	</div>


	{% dugong_pagination page_obj url=request.url size="small" %}
{% endblock %}