{% extends "base/bulma_base.html" %}
{% load i18n %}
{% load dugong_tags %}


{% block title %}{% trans 'photos' %}{% endblock %}

{% block content %}
	<div class="columns is-multiline">
		{% for row in object_list %}
			<div class="column is-one-quarter">
				<a class="card" href="{{ row.gallery_image }}">
					<figure class="image is-4by3">
						<img class="lazy"
								 src="https://image.jiaxin.im/placeholder/?text=jiaxin.im"
								 data-original="{{ row.thumbnail_image }}"
								 alt="Placeholder image"
						>
					</figure>
				</a>
			</div>
		{% endfor %}
	</div>

	{% dugong_pagination page_obj url=request.url size="small" %}
{% endblock %}