{% extends "base/bulma_base.html" %}
{% load i18n %}
{% load dugong_tags eprint_extras %}


{% block title %}{% trans 'cryptology-keywords' %}{% endblock %}


{% block content %}
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="column is-8 ">
				<div class="table-container">
					<table class="table is-striped is-hoverable is-fullwidth">
						<thead>
						<tr>
							<th>{% trans "keyword" %}</th>
							<th>{% trans "eprint-count" %}</th>
						</tr>
						</thead>
						<tbody>
						{% for row in object_list %}
							<tr>
								<td>
									<a href="{% url 'eprint:index' %}?keyword={{ row.keyword }}"
										 target="_blank"
										 title="{{ row.title }}">
										{{ row.keyword }}
									</a>
								</td>
								<td>{{ row.eprint_count }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="column is-8">
				{% dugong_pagination page_obj url=request.url size="small" pages_to_show=4 %}
			</div>
		</div>
	</div>

{% endblock %}