{% extends "base/bulma_base.html" %}
{% load i18n %}
{% load dugong_tags %}

{% block title %}{% trans 'cryptology' %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-8-desktop is-hidden-mobile">
				<nav class="breadcrumb has-dot-separator" aria-label="breadcrumbs">
					<ul>
						<li>
							<a href="{% url 'homepage' %}" title="{% trans 'home' %}">
								<i class="fa fa-home"></i>&nbsp;{% trans 'home' %}
							</a></li>
						<li>
							<a href="{% url 'eprint:index' %}" title="{% trans 'eprint' %}">
								<i class="fas fa-file-pdf"></i>&nbsp;{% trans 'eprint' %}</a>
						</li>
						<li>
							<a href="#" title="{% if category %}{{ category }}{% else %}{% trans 'all' %}{% endif %}">
								<i class="fas fa-category"></i>
								&nbsp;{% if category %}{{ category }}{% else %}{% trans 'all' %}{% endif %}
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="columns is-multiline is-centered">
			<div class="column is-8-desktop">
				{% for row in object_list %}
					<div class="box">
						<article class="media">
							<div class="media-content">
								<h1 class="title is-5">
									<a href="{{ row.get_absolute_url }}" title="{{ row.title }}">{{ row.title }}</a>
								</h1>
								<nav class="level">
									<div class="left">
										<div class="tags">
											{% for author in row.authors %}
												<span class="tag is-success is-light">{{ author }}</span>
											{% endfor %}
										</div>
									</div>
								</nav>
								<div class="content">
									{{ row.html_summary|safe }}
								</div>
								<nav class="level" style="margin-top: 10px;">
									{% if row.category %}
										<div class="level-left">
											<div class="level-item">
												<a href="{% url 'eprint:index' %}?category={{ row.category }}"
													 class="tag is-info is-light">
													{{ row.category }}
												</a>
											</div>
										</div>
									{% endif %}
									<div class="level-right">
										<div class="level-item">
											<i class="fas fa-calendar-alt"></i>&nbsp;{{ row.received_at }}
										</div>
									</div>
								</nav>
							</div>

						</article>
					</div>
				{% endfor %}
			</div>

			<div class="column is-8">
				{% dugong_pagination page_obj url=request.url size="small" pages_to_show=4 %}
			</div>
		</div>
	</div>

{% endblock %}