{% extends "base/bulma_base.html" %}
{% load i18n %}
{% load dugong_tags %}

{% block title %}{% trans 'cryptology' %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="columns is-desktop is-multiline clearfix is-centered">
			<div class="column is-8">
				{% for row in object_list %}
					<div class="box">
						<article class="media">
							<div class="media-content">
								<h1 class="title is-5">
									<a href="{{ row.get_absolute_url }}" title="{{ row.title }}">{{ row.title }}</a>
								</h1>
								<nav class="level">
									<div class="left">
										<div class="tags">
											{#											<i class="far fa-user tag"></i>&nbsp;#}
											{% for author in row.author %}
												<span class="tag is-success is-light">{{ author }}</span>
											{% endfor %}
										</div>
									</div>
								</nav>
								<div class="content">
									{{ row.html_summary|safe }}
								</div>
								<nav class="level" style="margin-top: 10px;">
									<div class="level-left">
										<div class="level-item">
											<span class="tag is-info  is-light">{{ row.category }}</span>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<i class="fas fa-calendar-alt"></i>&nbsp;{{ row.published_at }}
										</div>
									</div>
								</nav>
							</div>

						</article>
					</div>
				{% endfor %}
			</div>

			<div class="column is-8">
				{% dugong_pagination page_obj url=request.url size="small" pages_to_show=4 %}
			</div>
		</div>
	</div>

{% endblock %}