{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('http://imgjiaxin.u.qiniudn.com/a7e9d782b98ac04fa91e39fb46ddf410.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ object.title }}</h1>
                        <span class="meta">{{ object.last_update }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <article>
        <div class="container">
            <div class="row">
                <ol class="post-breadcrumb">
                    <li><a href="/blog/" title="{% trans 'home' %}">{% trans 'home' %}</a></li>
                    {% if object.first_tag %}
                        <li>
                            <a href="{% url 'web_blog_tags' object.first_tag.pk %}" title="{{ object.first_tag_name }}">
                                {% trans object.first_tag.name %}</a>
                        </li>
                    {% endif %}
                    <li class="active">{% trans 'text' %}</li>
                </ol>

                <div class="col-md-8" id="blog-detail-container">
                    <div class="post-content">
                    {% autoescape off%}
                        {{ object.content }}
                    {% endautoescape %}
                    </div>

                    <div class="post-tags">
                        <i class="fa fa-tags"></i>
                        {% for tag in object.tags %}
                            <a href="{% url 'web_blog_tags' tag.pk %}" title="{% trans tag.name %}">
                                <span class="label label-tag">{% trans tag.name %}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4 hidden-xs">
                    {% include 'blog/slider/slider.html' %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}