{% extends 'base/base.html' %}
{% load i18n cache %}
{% load django_markdown comments %}
{% load book_extras %}

{% block title %}{{ meta.title }}{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('//imgjiaxin.u.qiniudn.com/eb9bd3ca8169133a5e74a6bcdb939a4b.jpg?imageView2/2/w/800/h/800/')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ object.title }}</h1>
                        <span class="meta">{{ object.created_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
        <div class="container">
            <div class="row">
                <ol class="post-breadcrumb">
                    <li><a href="{% url 'homepage' %}" title="{% trans 'home' %}"><i class="fa fa-home"></i>&nbsp;{% trans 'home' %}</a></li>
                    <li><a href="{% url 'web_blog_list' %}" title="{% trans 'blog' %}"><i class="fa fa-keyboard-o"></i>&nbsp;{% trans 'blog' %}</a></li>
                    <li class="active">{{ object.title }}</li>
                </ol>
            </div>

            <div class="row">
                <div class="col-md-8" id="blog-detail-container" >
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="title">{{ object.title }}</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 post-content">
                            {{ object.content|markdown_safe }}
                        </div>
                    </div>

                    <div class="row meta-info">
                        <ul class="list-inline" style="margin-left: 0;">
                            {% for tag in object.tags %}
                                <li class="post-tag">
                                    <a href="{% url 'web_blog_tags' tag.pk %}" title="{% trans tag.name %}">
                                        {% trans tag.name %}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="row post-nav">
                        <div class="col-sm-6">
                        {% if previous %}
                                <div class="previous">
                                    <a class="btn btn-default" href="{{ previous.get_absolute_url  }}" title="{{ previous.title }}"><i class="fa fa-angle-left"></i>&nbsp;上一篇</a>
                                </div>
{#                            <a class="pull-left" href="{{ previous.get_absolute_url }}" title="{{ previous.title }}">{{ previous }}</a>#}
                            {% endif %}
                        </div>

                        <div class="col-sm-6">
                            {% if next %}
                                <div class="next">
                                    <a class="btn btn-default" href="{{ next.get_absolute_url }}" title="{{ next.title }}">下一篇&nbsp;<i class="fa fa-angle-right"></i></a>
                                </div>
{#                                <a class="pull-right" href="{{ next.get_absolute_url }}" title="{{ next.title }}">{{ next }}</a>#}
                            {% endif %}
                        </div>
                    </div>

{#                    <div class="row">#}
{#                        {% get_comment_list for object as comment_list %}#}
{#                        <div class="col-sm-12">#}
{#                            {% for comment in comment_list %}#}
{#                                {{ comment }}#}
{#                                <div class="media" style="background-color: #fff; padding: 16px;">#}
{#                                    <div class="media-body">#}
{#                                        <span>{{ comment.user }}</span>#}
{#                                        <p>{{ comment.comment }}</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="row">#}
{#                        {% if user.is_authenticated %}#}
{##}
{#                        {% else %}#}
{#                            <div class="text-center">#}
{#                                <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans 'Sign In' %}</a>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
                </div>

                <div class="col-md-4 hidden-xs">
                    {% cache 3600 blog-sidebar %}
                        {% include 'blog/slider/slider.html' %}
                    {% endcache %}
                </div>
            </div>

            <div class="row">
                {% trending_books object.tags  %}
            </div>

            {% include 'base/goto-top.html' %}
        </div>

{% endblock %}