{% extends 'base/base.html' %}
{% load i18n cache %}
{% load book_extras %}

{% block title %}{{ object.title }}{% endblock %}

{% block header %}
{#    <header class="intro-header" style="background-image: url('http://imgjiaxin.u.qiniudn.com/a7e9d782b98ac04fa91e39fb46ddf410.jpg?imageView2/2/w/800/h/800/')">#}
    <header class="intro-header" style="background-image: url('//imgjiaxin.u.qiniudn.com/eb9bd3ca8169133a5e74a6bcdb939a4b.jpg?imageView2/2/w/800/h/800/')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ object.title }}</h1>
                        <span class="meta">{{ object.created_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <article>
        <div class="container">
            <div class="row">
                <ol class="post-breadcrumb">
                    <li><a href="/blog/" title="{% trans 'home' %}">{% trans 'home' %}</a></li>
                    {% if object.first_tag %}
                        <li>
                            <a href="{% url 'web_blog_tags' object.first_tag.pk %}" title="{{ object.first_tag_name }}">
                                {% trans object.first_tag.name %}</a>
                        </li>
                    {% endif %}
                    <li class="active">{% trans 'text' %}</li>
                </ol>

                <div class="col-md-8" >
                    <div id="blog-detail-container">
                        <div class="post-content">
                            {% autoescape off%}
                                {{ object.content|safe }}
                            {% endautoescape %}
                        </div>

                        <div class="meta-info">
                            <ul class="list-inline">
                                <li> <i class="fa fa-tags"></i></li>
                                {% for tag in object.tags %}
                                    <li class="post-tag">
                                        <a href="{% url 'web_blog_tags' tag.pk %}" title="{% trans tag.name %}">
                                            {% trans tag.name %}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="post-nav">
                            {% if previous %}
                                <div class="previous">
                                    <a href="{{ previous.get_absolute_url }}" title="{{ previous.title }}">
                                        <i class="fa fa-angle-left"></i>&nbsp;(上一篇)&nbsp;{{ previous }}</a>
                                </div>
                            {% endif %}

                            {% if next %}
                                <div class="next">
                                    <a href="{{ next.get_absolute_url }}" title="{{ next.title }}">
                                        (下一篇)&nbsp;{{ next }}&nbsp;<i class="fa fa-angle-right"></i></a>
                                </div>
                            {% endif %}
                    </div>

                    {% trending_books object.tags  %}
                </div>

                <div class="col-md-4 hidden-xs">
                    {% cache 3600 blog-sidebar %}
                        {% include 'blog/slider/slider.html' %}
                    {% endcache %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}