{% extends 'base/base.html' %}
{% load cache %}

{% block container %}
   <div class="container">
        <div class="row">
            <div class="col-md-8" id="blog-container">
                {% for post in object_list %}
                    {% include 'blog/cell.html' with post=post %}
                {% endfor %}

                {% include 'base/paginator.html' %}
            </div>

            <div class="col-md-4 hidden-xs">
                {% cache 3600 sidebar %}
                    {% include 'blog/slider/slider.html' %}
                {% endcache %}
            </div>
        </div>
    </div>
{% endblock %}