<li>
    <a title="{{ post.title }}" href="{{ post.get_absolute_url }}">
        <h1 class="typo-h1">{{ post.title }}</h1>
        <p class="typo-p">{{ post.digest|truncatechars:100 }}</p>
    </a>
    <div class="post-meta">
        <ul class="list-inline">
            {% for tag in post.tags %}
                <li>
                    <a href="{% url 'web_blog_tags' tag.pk %}" title="{{ tag.name }}">
                        {{ tag.name }}
                    </a>
                </li>
            {% endfor %}
            <li class="updated-datetime">{{ post.created_date|date:"Y-m-d" }}</li>
        </ul>
    </div>
</li>
<hr class="typo-hr">