<article class="media">
    <div class="media-content">
        <h1 class="title typo-h1" style="font-size: 24px;">
            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h1>
        <div class="typo-p tile">
{#            {{ post.digest|truncatechars:100 }}#}
            {{ post.digest|safe|truncatechars:100 }}
        </div>
        <nav class="level is-mobile">
            <div class="level-left tags">
                {% for tag in post.tags %}
                    <a class="level-item tag is-small" href="{% url 'blog:tags' tag.pk %}" title="{{ tag.name }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div class="level-right">
                <time class="level-item">
                    <i class="fa fa-calendar"></i>&nbsp;{{ post.created_date|date:"Y-m-d" }}
                </time>
            </div>
        </nav>
    </div>
</article>