{% extends 'base/bulma_base.html' %}
{% load i18n %}
{% load bulma_tags %}
{#{% load bootstrap3 %}#}


{% block content %}
    <div class="columns is-desktop is-centered">
        <div class="column is-8">
            <div class="box">
                <form method="post">{% csrf_token %}
                    <fieldset>
                        {{ form|bulma_inline }}
                        <div class="field">
                            <button type="submit" class="button is-primary">{% trans 'submit' %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}