{% extends 'base/bulma_base.html' %}
{% load i18n static %}
{% load bulma_tags %}


{% block content %}
	<div class="columns is-desktop is-centered">
		<div class="column is-12">
			<div class="box">
				<form method="post">{% csrf_token %}
					{{ form|bulma_inline }}
					<div class="field">
						<button class="button is-primary" type="submit">{% trans 'submit' %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}



{#{% block extra_javascript %}#}
{#    {% compress js %}#}
{#        <script type="text/javascript" src="{% static 'dist/editor.js' %}" charset="UTF-8"></script>#}
{#    {% endcompress %}#}
{#{% endblock %}#}