{% extends 'base/bulma_base.html' %}
{% load i18n %}
{% load bulma_tags %}
{#{% load bootstrap3 %}#}


{% block content %}
    <div class="columns is-desktop is-centered">
        <div class="column is-8">
            <div class="box">
                <form method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            {% if field.html_name == "content" %}
                                <div id="editSection"></div>
                            {% else %}
                                {{ field|bulma }}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="field">
                        <button class="button is-primary" type="submit">{% trans 'submit' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}