@import "~bulma/sass/components/modal";

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  filter: alpha(opacity=50);
}

//#colorbox {
//  @extend .modal;
//}

