{% extends 'base/bulma_base.html' %}
{% load flatpages %}
{% get_flatpages as flatpages %}
{#{% load bulma_tags %}#}

{% block title %}{{ flatpage.title }} | 只做技术宅{% endblock %}

{#{% block container %}#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-8 col-md-offset-2 col-xs-12">#}
{#                <div class="about">#}
{#                    {{ flatpage.content }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}
{#    {% get_flatpages as flatpages %}#}
    <div class="columns">
        <div class="column is-8 is-offset-2" style="background: #fff; border: #ebebeb solid 1px;">
            <h1 class="typo-h1 title">{{ flatpage.title }}</h1>
            <article class="typo">
                {{ flatpage.content|safe }}
            </article>
        </div>
    </div>
{% endblock %}